html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary
{
	display: block;
}
audio,canvas,progress,video
{
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls])
{
	display: none;
	height: 0;
}		
[hidden],template
{
	display: none;
}
a
{
	background-color: transparent;
}
a:active,a:hover
{
	outline: 0;
}
abbr[title]
{
	border-bottom: 1px dotted;
}
b,strong
{
	font-weight: bold;
}
dfn
{
	font-style: italic;
}
h1
{
	font-size: 2em;
	margin: 0.67em 0;
}
mark
{
	background: #ff0;
	color: #000;
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup
{
	top: -0.5em;
}
sub
{
	bottom: -0.25em;
}
img
{
	border: 0;
}
svg:not(:root)
{
	overflow: hidden;
}
figure
{
	margin: 1em 40px;
}
hr
{
	box-sizing: content-box;
	height: 0;
}
pre
{
	overflow: auto;
}
code,kbd,pre,samp
{
	font-family: monospace, monospace;
	font-size: 1em;
}
button,input,optgroup,select,textarea
{
	color: inherit;
	font: inherit;
	margin: 0;
}
button
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]
{
	cursor: pointer;
	webkit-appearance: button;
}
button[disabled],html input[disabled]
{
	cursor: default;
}
button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
input
{
	line-height: normal;
}
input[type="checkbox"],input[type="radio"]
{
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button
{
	height: auto;
}
input[type="search"]
{
	box-sizing: content-box;
	webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
	webkit-appearance: none;
}
fieldset
{
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
}
optgroup
{
	font-weight: bold;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
td,th
{
	padding: 0;
}
*
{
	box-sizing: border-box;
}
*:before,*:after
{
	box-sizing: border-box;
}
html
{
	font-size: 10px;
	webkit-tap-highlight-color: transparent;
}
body
{
	background-color: #ffffff;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}
input,button,select,textarea
{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a
{
	color: #337ab7;
	text-decoration: none;
}
a:hover,a:focus
{
	color: #23527c;
	text-decoration: underline;
}
a:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
figure
{
	margin: 0;
}
img
{
	vertical-align: middle;
}
.img-responsive
{
	display: block;
	height: auto;
	max-width: 100%;
}
.img-rounded
{
	border-radius: 6px;
}
.img-thumbnail
{
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: inline-block;
	height: auto;
	line-height: 1.42857143;
	max-width: 100%;
	padding: 4px;
	transition: all 0.2s ease-in-out;
}
.img-circle
{
	border-radius: 50%;
}
hr
{
	border: 0;
	border-top: 1px solid #eeeeee;
	margin-bottom: 20px;
	margin-top: 20px;
}
.sr-only
{
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.sr-only-focusable:active,.sr-only-focusable:focus
{
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
[role="button"]
{
	cursor: pointer;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px)
{
	.container
	{
		width: 750px;
	}
}
@media (min-width: 992px)
{
	.container
	{
		width: 970px;
	}
}
@media (min-width: 1200px)
{
	.container
	{
		width: 1170px;
	}
}
.container-fluid
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row
{
	margin-left: -15px;
	margin-right: -15px;
}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12
{
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12
{
	float: left;
}
.col-xs-12
{
	width: 100%;
}
.col-xs-11
{
	width: 91.66666667%;
}
.col-xs-10
{
	width: 83.33333333%;
}
.col-xs-9
{
	width: 75%;
}
.col-xs-8
{
	width: 66.66666667%;
}
.col-xs-7
{
	width: 58.33333333%;
}
.col-xs-6
{
	width: 50%;
}
.col-xs-5
{
	width: 41.66666667%;
}
.col-xs-4
{
	width: 33.33333333%;
}
.col-xs-3
{
	width: 25%;
}
.col-xs-2
{
	width: 16.66666667%;
}
.col-xs-1
{
	width: 8.33333333%;
}
.col-xs-pull-12
{
	right: 100%;
}
.col-xs-pull-11
{
	right: 91.66666667%;
}
.col-xs-pull-10
{
	right: 83.33333333%;
}
.col-xs-pull-9
{
	right: 75%;
}
.col-xs-pull-8
{
	right: 66.66666667%;
}
.col-xs-pull-7
{
	right: 58.33333333%;
}
.col-xs-pull-6
{
	right: 50%;
}
.col-xs-pull-5
{
	right: 41.66666667%;
}
.col-xs-pull-4
{
	right: 33.33333333%;
}
.col-xs-pull-3
{
	right: 25%;
}
.col-xs-pull-2
{
	right: 16.66666667%;
}
.col-xs-pull-1
{
	right: 8.33333333%;
}
.col-xs-pull-0
{
	right: auto;
}
.col-xs-push-12
{
	left: 100%;
}
.col-xs-push-11
{
	left: 91.66666667%;
}
.col-xs-push-10
{
	left: 83.33333333%;
}
.col-xs-push-9
{
	left: 75%;
}
.col-xs-push-8
{
	left: 66.66666667%;
}
.col-xs-push-7
{
	left: 58.33333333%;
}
.col-xs-push-6
{
	left: 50%;
}
.col-xs-push-5
{
	left: 41.66666667%;
}
.col-xs-push-4
{
	left: 33.33333333%;
}
.col-xs-push-3
{
	left: 25%;
}
.col-xs-push-2
{
	left: 16.66666667%;
}
.col-xs-push-1
{
	left: 8.33333333%;
}
.col-xs-push-0
{
	left: auto;
}
.col-xs-offset-12
{
	margin-left: 100%;
}
.col-xs-offset-11
{
	margin-left: 91.66666667%;
}
.col-xs-offset-10
{
	margin-left: 83.33333333%;
}
.col-xs-offset-9
{
	margin-left: 75%;
}
.col-xs-offset-8
{
	margin-left: 66.66666667%;
}
.col-xs-offset-7
{
	margin-left: 58.33333333%;
}
.col-xs-offset-6
{
	margin-left: 50%;
}
.col-xs-offset-5
{
	margin-left: 41.66666667%;
}
.col-xs-offset-4
{
	margin-left: 33.33333333%;
}
.col-xs-offset-3
{
	margin-left: 25%;
}
.col-xs-offset-2
{
	margin-left: 16.66666667%;
}
.col-xs-offset-1
{
	margin-left: 8.33333333%;
}
.col-xs-offset-0
{
	margin-left: 0%;
}
@media (min-width: 768px)
{
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12
	{
		float: left;
	}
	.col-sm-12
	{
		width: 100%;
	}
	.col-sm-11
	{
		width: 91.66666667%;
	}
	.col-sm-10
	{
		width: 83.33333333%;
	}
	.col-sm-9
	{
		width: 75%;
	}
	.col-sm-8
	{
		width: 66.66666667%;
	}
	.col-sm-7
	{
		width: 58.33333333%;
	}
	.col-sm-6
	{
		width: 50%;
	}
	.col-sm-5
	{
		width: 41.66666667%;
	}
	.col-sm-4
	{
		width: 33.33333333%;
	}
	.col-sm-3
	{
		width: 25%;
	}
	.col-sm-2
	{
		width: 16.66666667%;
	}
	.col-sm-1
	{
		width: 8.33333333%;
	}
	.col-sm-pull-12
	{
		right: 100%;
	}
	.col-sm-pull-11
	{
		right: 91.66666667%;
	}
	.col-sm-pull-10
	{
		right: 83.33333333%;
	}
	.col-sm-pull-9
	{
		right: 75%;
	}
	.col-sm-pull-8
	{
		right: 66.66666667%;
	}
	.col-sm-pull-7
	{
		right: 58.33333333%;
	}
	.col-sm-pull-6
	{
		right: 50%;
	}
	.col-sm-pull-5
	{
		right: 41.66666667%;
	}
	.col-sm-pull-4
	{
		right: 33.33333333%;
	}
	.col-sm-pull-3
	{
		right: 25%;
	}
	.col-sm-pull-2
	{
		right: 16.66666667%;
	}
	.col-sm-pull-1
	{
		right: 8.33333333%;
	}
	.col-sm-pull-0
	{
		right: auto;
	}
	.col-sm-push-12
	{
		left: 100%;
	}
	.col-sm-push-11
	{
		left: 91.66666667%;
	}
	.col-sm-push-10
	{
		left: 83.33333333%;
	}
	.col-sm-push-9
	{
		left: 75%;
	}
	.col-sm-push-8
	{
		left: 66.66666667%;
	}
	.col-sm-push-7
	{
		left: 58.33333333%;
	}
	.col-sm-push-6
	{
		left: 50%;
	}
	.col-sm-push-5
	{
		left: 41.66666667%;
	}
	.col-sm-push-4
	{
		left: 33.33333333%;
	}
	.col-sm-push-3
	{
		left: 25%;
	}
	.col-sm-push-2
	{
		left: 16.66666667%;
	}
	.col-sm-push-1
	{
		left: 8.33333333%;
	}
	.col-sm-push-0
	{
		left: auto;
	}
	.col-sm-offset-12
	{
		margin-left: 100%;
	}
	.col-sm-offset-11
	{
		margin-left: 91.66666667%;
	}
	.col-sm-offset-10
	{
		margin-left: 83.33333333%;
	}
	.col-sm-offset-9
	{
		margin-left: 75%;
	}
	.col-sm-offset-8
	{
		margin-left: 66.66666667%;
	}
	.col-sm-offset-7
	{
		margin-left: 58.33333333%;
	}
	.col-sm-offset-6
	{
		margin-left: 50%;
	}
	.col-sm-offset-5
	{
		margin-left: 41.66666667%;
	}
	.col-sm-offset-4
	{
		margin-left: 33.33333333%;
	}
	.col-sm-offset-3
	{
		margin-left: 25%;
	}
	.col-sm-offset-2
	{
		margin-left: 16.66666667%;
	}
	.col-sm-offset-1
	{
		margin-left: 8.33333333%;
	}
	.col-sm-offset-0
	{
		margin-left: 0%;
	}
}
@media (min-width: 992px)
{
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
	{
		float: left;
	}
	.col-md-12
	{
		width: 100%;
	}
	.col-md-11
	{
		width: 91.66666667%;
	}
	.col-md-10
	{
		width: 83.33333333%;
	}
	.col-md-9
	{
		width: 75%;
	}
	.col-md-8
	{
		width: 66.66666667%;
	}
	.col-md-7
	{
		width: 58.33333333%;
	}
	.col-md-6
	{
		width: 50%;
	}
	.col-md-5
	{
		width: 41.66666667%;
	}
	.col-md-4
	{
		width: 33.33333333%;
	}
	.col-md-3
	{
		width: 25%;
	}
	.col-md-2
	{
		width: 16.66666667%;
	}
	.col-md-1
	{
		width: 8.33333333%;
	}
	.col-md-pull-12
	{
		right: 100%;
	}
	.col-md-pull-11
	{
		right: 91.66666667%;
	}
	.col-md-pull-10
	{
		right: 83.33333333%;
	}
	.col-md-pull-9
	{
		right: 75%;
	}
	.col-md-pull-8
	{
		right: 66.66666667%;
	}
	.col-md-pull-7
	{
		right: 58.33333333%;
	}
	.col-md-pull-6
	{
		right: 50%;
	}
	.col-md-pull-5
	{
		right: 41.66666667%;
	}
	.col-md-pull-4
	{
		right: 33.33333333%;
	}
	.col-md-pull-3
	{
		right: 25%;
	}
	.col-md-pull-2
	{
		right: 16.66666667%;
	}
	.col-md-pull-1
	{
		right: 8.33333333%;
	}
	.col-md-pull-0
	{
		right: auto;
	}
	.col-md-push-12
	{
		left: 100%;
	}
	.col-md-push-11
	{
		left: 91.66666667%;
	}
	.col-md-push-10
	{
		left: 83.33333333%;
	}
	.col-md-push-9
	{
		left: 75%;
	}
	.col-md-push-8
	{
		left: 66.66666667%;
	}
	.col-md-push-7
	{
		left: 58.33333333%;
	}
	.col-md-push-6
	{
		left: 50%;
	}
	.col-md-push-5
	{
		left: 41.66666667%;
	}
	.col-md-push-4
	{
		left: 33.33333333%;
	}
	.col-md-push-3
	{
		left: 25%;
	}
	.col-md-push-2
	{
		left: 16.66666667%;
	}
	.col-md-push-1
	{
		left: 8.33333333%;
	}
	.col-md-push-0
	{
		left: auto;
	}
	.col-md-offset-12
	{
		margin-left: 100%;
	}
	.col-md-offset-11
	{
		margin-left: 91.66666667%;
	}
	.col-md-offset-10
	{
		margin-left: 83.33333333%;
	}
	.col-md-offset-9
	{
		margin-left: 75%;
	}
	.col-md-offset-8
	{
		margin-left: 66.66666667%;
	}
	.col-md-offset-7
	{
		margin-left: 58.33333333%;
	}
	.col-md-offset-6
	{
		margin-left: 50%;
	}
	.col-md-offset-5
	{
		margin-left: 41.66666667%;
	}
	.col-md-offset-4
	{
		margin-left: 33.33333333%;
	}
	.col-md-offset-3
	{
		margin-left: 25%;
	}
	.col-md-offset-2
	{
		margin-left: 16.66666667%;
	}
	.col-md-offset-1
	{
		margin-left: 8.33333333%;
	}
	.col-md-offset-0
	{
		margin-left: 0%;
	}
}
@media (min-width: 1200px)
{
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
	{
		float: left;
	}
	.col-lg-12
	{
		width: 100%;
	}
	.col-lg-11
	{
		width: 91.66666667%;
	}
	.col-lg-10
	{
		width: 83.33333333%;
	}
	.col-lg-9
	{
		width: 75%;
	}
	.col-lg-8
	{
		width: 66.66666667%;
	}
	.col-lg-7
	{
		width: 58.33333333%;
	}
	.col-lg-6
	{
		width: 50%;
	}
	.col-lg-5
	{
		width: 41.66666667%;
	}
	.col-lg-4
	{
		width: 33.33333333%;
	}
	.col-lg-3
	{
		width: 25%;
	}
	.col-lg-2
	{
		width: 16.66666667%;
	}
	.col-lg-1
	{
		width: 8.33333333%;
	}
	.col-lg-pull-12
	{
		right: 100%;
	}
	.col-lg-pull-11
	{
		right: 91.66666667%;
	}
	.col-lg-pull-10
	{
		right: 83.33333333%;
	}
	.col-lg-pull-9
	{
		right: 75%;
	}
	.col-lg-pull-8
	{
		right: 66.66666667%;
	}
	.col-lg-pull-7
	{
		right: 58.33333333%;
	}
	.col-lg-pull-6
	{
		right: 50%;
	}
	.col-lg-pull-5
	{
		right: 41.66666667%;
	}
	.col-lg-pull-4
	{
		right: 33.33333333%;
	}
	.col-lg-pull-3
	{
		right: 25%;
	}
	.col-lg-pull-2
	{
		right: 16.66666667%;
	}
	.col-lg-pull-1
	{
		right: 8.33333333%;
	}
	.col-lg-pull-0
	{
		right: auto;
	}
	.col-lg-push-12
	{
		left: 100%;
	}
	.col-lg-push-11
	{
		left: 91.66666667%;
	}
	.col-lg-push-10
	{
		left: 83.33333333%;
	}
	.col-lg-push-9
	{
		left: 75%;
	}
	.col-lg-push-8
	{
		left: 66.66666667%;
	}
	.col-lg-push-7
	{
		left: 58.33333333%;
	}
	.col-lg-push-6
	{
		left: 50%;
	}
	.col-lg-push-5
	{
		left: 41.66666667%;
	}
	.col-lg-push-4
	{
		left: 33.33333333%;
	}
	.col-lg-push-3
	{
		left: 25%;
	}
	.col-lg-push-2
	{
		left: 16.66666667%;
	}
	.col-lg-push-1
	{
		left: 8.33333333%;
	}
	.col-lg-push-0
	{
		left: auto;
	}
	.col-lg-offset-12
	{
		margin-left: 100%;
	}
	.col-lg-offset-11
	{
		margin-left: 91.66666667%;
	}
	.col-lg-offset-10
	{
		margin-left: 83.33333333%;
	}
	.col-lg-offset-9
	{
		margin-left: 75%;
	}
	.col-lg-offset-8
	{
		margin-left: 66.66666667%;
	}
	.col-lg-offset-7
	{
		margin-left: 58.33333333%;
	}
	.col-lg-offset-6
	{
		margin-left: 50%;
	}
	.col-lg-offset-5
	{
		margin-left: 41.66666667%;
	}
	.col-lg-offset-4
	{
		margin-left: 33.33333333%;
	}
	.col-lg-offset-3
	{
		margin-left: 25%;
	}
	.col-lg-offset-2
	{
		margin-left: 16.66666667%;
	}
	.col-lg-offset-1
	{
		margin-left: 8.33333333%;
	}
	.col-lg-offset-0
	{
		margin-left: 0%;
	}
}
.tooltip
{
	display: block;
	filter: alpha(opacity=0);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	opacity: 0;
	position: absolute;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	z-index: 1070;
}
.tooltip.in
{
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.tooltip.top
{
	margin-top: -3px;
	padding: 5px 0;
}
.tooltip.right
{
	margin-left: 3px;
	padding: 0 5px;
}
.tooltip.bottom
{
	margin-top: 3px;
	padding: 5px 0;
}
.tooltip.left
{
	margin-left: -3px;
	padding: 0 5px;
}
.tooltip-inner
{
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	max-width: 200px;
	padding: 3px 8px;
	text-align: center;
}
.tooltip-arrow
{
	border-color: transparent;
	border-style: solid;
	height: 0;
	position: absolute;
	width: 0;
}
.tooltip.top .tooltip-arrow
{
	border-top-color: #000000;
	border-width: 5px 5px 0;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
}
.tooltip.top-left .tooltip-arrow
{
	border-top-color: #000000;
	border-width: 5px 5px 0;
	bottom: 0;
	margin-bottom: -5px;
	right: 5px;
}
.tooltip.top-right .tooltip-arrow
{
	border-top-color: #000000;
	border-width: 5px 5px 0;
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
}
.tooltip.right .tooltip-arrow
{
	border-right-color: #000000;
	border-width: 5px 5px 5px 0;
	left: 0;
	margin-top: -5px;
	top: 50%;
}
.tooltip.left .tooltip-arrow
{
	border-left-color: #000000;
	border-width: 5px 0 5px 5px;
	margin-top: -5px;
	right: 0;
	top: 50%;
}
.tooltip.bottom .tooltip-arrow
{
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
	left: 50%;
	margin-left: -5px;
	top: 0;
}
.tooltip.bottom-left .tooltip-arrow
{
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
	margin-top: -5px;
	right: 5px;
	top: 0;
}
.tooltip.bottom-right .tooltip-arrow
{
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
	left: 5px;
	margin-top: -5px;
	top: 0;
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after
{
	content: " ";
	display: table;
}
.clearfix:after,.container:after,.container-fluid:after,.row:after
{
	clear: both;
}
.center-block
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right
{
	float: right !important;
}
.pull-left
{
	float: left !important;
}
.hide
{
	display: none !important;
}
.show
{
	display: block !important;
}
.invisible
{
	visibility: hidden;
}
.text-hide
{
	background-color: transparent;
	border: 0;
	color: transparent;
	font: 0/0 a;
	text-shadow: none;
}
.hidden
{
	display: none !important;
}
.affix
{
	position: fixed;
}
@-ms-viewport
{
	width: device-width;
}
.visible-xs,.visible-sm,.visible-md,.visible-lg
{
	display: none !important;
}
.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block
{
	display: none !important;
}
@media (max-width: 767px)
{
	.visible-xs
	{
		display: block !important;
	}
	table.visible-xs
	{
		display: table !important;
	}
	tr.visible-xs
	{
		display: table-row !important;
	}
	th.visible-xs,td.visible-xs
	{
		display: table-cell !important;
	}
}
@media (max-width: 767px)
{
	.visible-xs-block
	{
		display: block !important;
	}
}
@media (max-width: 767px)
{
	.visible-xs-inline
	{
		display: inline !important;
	}
}
@media (max-width: 767px)
{
	.visible-xs-inline-block
	{
		display: inline-block !important;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.visible-sm
	{
		display: block !important;
	}
	table.visible-sm
	{
		display: table !important;
	}
	tr.visible-sm
	{
		display: table-row !important;
	}
	th.visible-sm,td.visible-sm
	{
		display: table-cell !important;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.visible-sm-block
	{
		display: block !important;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.visible-sm-inline
	{
		display: inline !important;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.visible-sm-inline-block
	{
		display: inline-block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	.visible-md
	{
		display: block !important;
	}
	table.visible-md
	{
		display: table !important;
	}
	tr.visible-md
	{
		display: table-row !important;
	}
	th.visible-md,td.visible-md
	{
		display: table-cell !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	.visible-md-block
	{
		display: block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	.visible-md-inline
	{
		display: inline !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	.visible-md-inline-block
	{
		display: inline-block !important;
	}
}
@media (min-width: 1200px)
{
	.visible-lg
	{
		display: block !important;
	}
	table.visible-lg
	{
		display: table !important;
	}
	tr.visible-lg
	{
		display: table-row !important;
	}
	th.visible-lg,td.visible-lg
	{
		display: table-cell !important;
	}
}
@media (min-width: 1200px)
{
	.visible-lg-block
	{
		display: block !important;
	}
}
@media (min-width: 1200px)
{
	.visible-lg-inline
	{
		display: inline !important;
	}
}
@media (min-width: 1200px)
{
	.visible-lg-inline-block
	{
		display: inline-block !important;
	}
}
@media (max-width: 767px)
{
	.hidden-xs
	{
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.hidden-sm
	{
		display: none !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	.hidden-md
	{
		display: none !important;
	}
}
@media (min-width: 1200px)
{
	.hidden-lg
	{
		display: none !important;
	}
}
.visible-print
{
	display: none !important;
}
@media print
{
	.visible-print
	{
		display: block !important;
	}
	table.visible-print
	{
		display: table !important;
	}
	tr.visible-print
	{
		display: table-row !important;
	}
	th.visible-print,td.visible-print
	{
		display: table-cell !important;
	}
}
.visible-print-block
{
	display: none !important;
}
@media print
{
	.visible-print-block
	{
		display: block !important;
	}
}
.visible-print-inline
{
	display: none !important;
}
@media print
{
	.visible-print-inline
	{
		display: inline !important;
	}
}
.visible-print-inline-block
{
	display: none !important;
}
@media print
{
	.visible-print-inline-block
	{
		display: inline-block !important;
	}
}
@media print
{
	.hidden-print
	{
		display: none !important;
	}
}
@font-face
{
	font-family: 'sybillabold';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/sybillabold/sybilla-bold-webfont.eot");
	src: url("../fonts/sybillabold/sybilla-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/sybillabold/sybilla-bold-webfont.woff2") format("woff2"),url("../fonts/sybillabold/sybilla-bold-webfont.woff") format("woff"),url("../fonts/sybillabold/sybilla-bold-webfont.svg#sybilla-bolduploaded_file") format("svg");
}
@font-face
{
	font-family: 'sybillabook';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/sybillabook/sybilla-book-webfont.eot");
	src: url("../fonts/sybillabook/sybilla-book-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/sybillabook/sybilla-book-webfont.woff2") format("woff2"),url("../fonts/sybillabook/sybilla-book-webfont.woff") format("woff"),url("../fonts/sybillabook/sybilla-book-webfont.svg#sybilla-bookuploaded_file") format("svg");
}
@font-face
{
	font-family: 'sybillaultra';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/sybillaultra/sybilla-ultra-webfont.eot");
	src: url("../fonts/sybillaultra/sybilla-ultra-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/sybillaultra/sybilla-ultra-webfont.woff2") format("woff2"),url("../fonts/sybillaultra/sybilla-ultra-webfont.woff") format("woff"),url("../fonts/sybillaultra/sybilla-ultra-webfont.svg#sybilla-ultrauploaded_file") format("svg");
}
@font-face
{
	font-family: 'opensans';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/opensans/opensans.eot");
	src: url("../fonts/opensans/opensans.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans/opensans.woff2") format("woff2"),url("../fonts/opensans/opensans.woff") format("woff"),url("../fonts/opensans/opensans.svg#proxima_nova_ltlight") format("svg");
}
@font-face
{
	font-family: 'opensansbold';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/opensansbold/opensansbold.eot");
	src: url("../fonts/opensansbold/opensansbold.eot?#iefix") format("embedded-opentype"),url("../fonts/opensansbold/opensansbold.woff2") format("woff2"),url("../fonts/opensansbold/opensansbold.woff") format("woff"),url("../fonts/opensansbold/opensansbold.svg#proxima_nova_rgregular") format("svg");
}
@font-face
{
	font-family: 'opensansextrabold';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/opensansextrabold/opensansextrabold.eot");
	src: url("../fonts/opensansextrabold/opensansextrabold.eot?#iefix") format("embedded-opentype"),url("../fonts/opensansextrabold/opensansextrabold.woff2") format("woff2"),url("../fonts/opensansextrabold/opensansextrabold.woff") format("woff"),url("../fonts/opensansextrabold/opensansextrabold.svg#proxima_nova_rgbold") format("svg");
}
@font-face
{
	font-family: 'opensanslight';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/opensanslight/opensanslight.eot");
	src: url("../fonts/opensanslight/opensanslight.eot?#iefix") format("embedded-opentype"),url("../fonts/opensanslight/opensanslight.woff2") format("woff2"),url("../fonts/opensanslight/opensanslight.woff") format("woff"),url("../fonts/opensanslight/opensanslight.svg#proxima_nova_rgbold") format("svg");
}
@font-face
{
	font-family: 'opensanssemibold';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/opensanssemibold/opensanssemibold.eot");
	src: url("../fonts/opensanssemibold/opensanssemibold.eot?#iefix") format("embedded-opentype"),url("../fonts/opensanssemibold/opensanssemibold.woff2") format("woff2"),url("../fonts/opensanssemibold/opensanssemibold.woff") format("woff"),url("../fonts/opensanssemibold/opensanssemibold.svg#proxima_nova_rgbold") format("svg");
}
@font-face
{
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/icons/icons.eot?mnadk2");
	src: url("../fonts/icons/icons.eot?mnadk2#iefix") format("embedded-opentype"),url("../fonts/icons/icons.ttf?mnadk2") format("truetype"),url("../fonts/icons/icons.woff?mnadk2") format("woff"),url("../fonts/icons/icons.svg?mnadk2#icons") format("svg");
}
[class^="icon_"],[class*="icon_"]
{
	font-family: 'icons' !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	speak: none;
	text-transform: none;
	webkit-font-smoothing: antialiased;
}
.icon_facebook:before
{
	content: "\f09a";
}
.icon_up:before
{
	content: "\f102";
}
.icon_quote_left:before
{
	content: "\f10d";
}
.icon_quote_right:before
{
	content: "\f10e";
}
.icon_vk:before
{
	content: "\f189";
}
.icon_checked:before
{
	content: "\e993";
}
.icon_close:before
{
	content: "\e994";
}
.icon_elips:before
{
	content: "\e992";
}
.icon_decor:before
{
	content: "\e990";
}
.icon_browser:before
{
	content: "\e98c";
}
.icon_tools:before
{
	content: "\e98d";
}
.icon_folder:before
{
	content: "\e98e";
}
.icon_chat:before
{
	content: "\e98f";
}
.icon_finger:before
{
	content: "\e98b";
}
.icon_price_1:before
{
	content: "\e98a";
}
.icon_price_2:before
{
	content: "\e991";
}
.icon_price_3:before
{
	content: "\e997";
}
.icon_popup:before
{
	content: "\e905";
}
.icon_teaser:before
{
	content: "\e904";
}
.icon_target:before
{
	content: "\e903";
}
.icon_banner:before
{
	content: "\e900";
}
.icon_gyperyeaser:before
{
	content: "\e901";
}
.icon_mobile:before
{
	content: "\e902";
}
body
{
	color: #252525;
	font: 18px/26px 'opensans';
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
}
main
{
	overflow-x: hidden;
}
h1
{
	font-family: 'sybillabold';
	text-align: center;
	text-transform: uppercase;
}
.title__utp
{
	font-size: 50px;
	letter-spacing: -1px;
	line-height: 60px;
	max-width: 980px;
}
.title__section
{
	font-size: 32px;
	line-height: 140%;
}
h2
{
	font: 25px/30px 'sybillabook';
}
.dark
{
	color: #333;
}
.white
{
	color: #fff;
}
.gold
{
	color: #fdbe00;
}
.red
{
	color: #e74c3c;
}
.green
{
	color: #a8cf69;
}
.sea
{
	color: #26cbbe;
}
.blue
{
	color: #3498db;
}
.grey
{
	color: #b5b5b5;
}
.uppercase
{
	text-transform: uppercase;
}
@media (max-width: 425px)
{
	.title__section
	{
		font-size: 30px;
	}
}
p,span,h1,h2
{
	margin: 0;
	padding: 0;
}
ul,ol
{
	list-style-type: none;
}
.bold
{
	font-family: 'opensanssemibold';
}
.hidden
{
	display: none;
}
.clearfix:before,.clearfix:after
{
	content: " ";
	display: table;
}
.clearfix
{
	clear: both;
}
.right
{
	text-align: right;
}
.wrapp__centering
{
	text-align: center;
}
.centering
{
	margin: 0 auto;
}
.text_center
{
	text-align: center;
}
.text_shdow
{
	text-shadow: 0 7px 7px rgba(0,0,0,0.2);
}
.padding__section
{
	padding: 60px 20px 80px;
}
.nopadding
{
	margin: 0 !important;
	padding: 0 !important;
}
.button__action
{
	background: #fdbe00;
	border: 3px solid #fdbe00;
	border-radius: 7px;
	color: #333333;
	cursor: pointer;
	font: 22px/56px 'sybillabold';
	padding: 0 40px;
	transition: 1s;
}
.button__action:hover
{
	background: #ecb100;
	/* border: 3px solid #000; */
	color: #fff;
	transition: 1s;
}
.button__action:focus
{
	outline: none;
}
#modal_1 .button__action
{
	background: #fdbe00;
	border: 3px solid #fdbe00;
	border-radius: 7px;
	color: #333333;
	cursor: pointer;
	display: block;
	font: 22px/56px 'sybillabold';
	margin: 0 auto;
	transition: all 0.2s;
	width: 100%;
}
#modal_1 .button__action:hover
{
	background: #3498db;
	border: 3px solid #3498db;
	color: #fff;
}
#modal_1 .button__action:focus
{
	outline: none;
}
@media (max-width: 1024px)
{
	.button__action:hover
	{
		background: #fdbe00;
		border: 3px solid #fdbe00;
		border-radius: 7px;
		color: #333333;
		cursor: pointer;
		font: 22px/56px 'sybillabold';
		padding: 0 40px;
		transition: all 0.2s;
	}
}
@media (max-width: 400px)
{
	.button__action
	{
		padding: 0 40px;
	}
}
.uk-nav-offcanvas li a
{
	border-bottom: 1px solid #4e4e4e;
	display: block;
	font: 20px/50px 'proximaregular';
	padding-left: 30px;
}
.uk-nav-offcanvas .mPS2id-highlight
{
	background: #484848;
	border-left: 7px solid #e0c26e;
}
input::-webkit-input-placeholder
{
	text-indent: 0px;
	transition: text-indent 0.3s ease;
}
input::-moz-placeholder
{
	text-indent: 0px;
	transition: text-indent 0.3s ease;
}
input:-moz-placeholder
{
	text-indent: 0px;
	transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder
{
	text-indent: 0px;
	transition: text-indent 0.3s ease;
}
input:focus::-webkit-input-placeholder
{
	text-indent: 1000px;
	transition: text-indent 0.3s ease;
}
input:focus::-moz-placeholder
{
	text-indent: 1000px;
	transition: text-indent 0.3s ease;
}
input:focus:-moz-placeholder
{
	text-indent: 1000px;
	transition: text-indent 0.3s ease;
}
input:focus:-ms-input-placeholder
{
	text-indent: 1000px;
	transition: text-indent 0.3s ease;
}
input[placeholder]
{
	font: 16px/50px 'opensans';
}
textarea[placeholder]
{
	font: 16px 'opensans';
}
input#C1
{
	font: 24px/41px sybillabook;
}
input#C1[placeholder]
{
	font-size: inherit;
}
.zoom-anim-dialog
{
	background: white;
	margin: 40px auto;
	max-width: 400px;
	padding: 30px;
	position: relative;
	text-align: left;
}
.zoom-anim-dialog p
{
	font: 18px/28px sybillabook;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.zoom-anim-dialog p span
{
	font-family: sybillabold;
}
#modal_1 input
{
	display: block;
	margin-bottom: 20px;
	width: 100%;
}
#modal_1 input[placeholder]
{
	text-align: center;
}
#small-dialog2 p
{
	font: 18px/28px sybillabold;
}
#small-dialog_video.zoom-anim-dialog
{
	max-width: 620px;
}
#small-dialog_img.zoom-anim-dialog
{
	max-width: 1200px;
	padding: 10px;
}
.my-mfp-zoom-in .zoom-anim-dialog
{
	ms-transform: scale(0.8);
	opacity: 0;
	transform: scale(0.8);
	transition: all 0.2s ease-in-out;
	webkit-transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
{
	ms-transform: scale(1);
	opacity: 1;
	transform: scale(1);
	webkit-transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
{
	ms-transform: scale(0.8);
	opacity: 0;
	transform: scale(0.8);
	webkit-transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-bg
{
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg
{
	opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg
{
	opacity: 0;
}
.my-mfp-slide-bottom .zoom-anim-dialog
{
	ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	opacity: 0;
	transform: translateY(-20px) perspective(600px) rotateX(10deg);
	transition: all 0.2s ease-out;
	webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog
{
	ms-transform: translateY(0) perspective(600px) rotateX(0);
	opacity: 1;
	transform: translateY(0) perspective(600px) rotateX(0);
	webkit-transform: translateY(0) perspective(600px) rotateX(0);
}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog
{
	ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	opacity: 0;
	transform: translateY(-10px) perspective(600px) rotateX(10deg);
	webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-bg
{
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg
{
	opacity: 0.8;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg
{
	opacity: 0;
}
#section1
{
	background-image: url(../img/section1_bg.jpg);
	background-position: bottom -100px center;
	background-repeat: no-repeat;
	padding: 60px 0 110px;
}
.title__decor
{
	height: 30px;
	margin: 5px 0 10px;
	overflow: hidden;
	text-align: center;
}
.title__decor img
{
	max-width: 180px;
}
.section1__subtitle
{
	color: #b7b7b7;
	font: 16px/24px 'opensans';
	font-style: italic;
	margin: 0 0 25px;
}
.calculator__column h2
{
	margin-bottom: 15px;
}
.calculator__column input
{
	display: block;
	margin: 6px 0;
	width: 100%;
}
.radio:not(checked)
{
	opacity: 0;
	position: absolute;
}
.checkbox:not(checked)
{
	opacity: 0;
	position: absolute;
}
.checkbox
{
	height: 17px;
	margin: 0 3px 0 0;
	vertical-align: top;
	width: 17px;
}
.radio:not(checked)+label
{
	display: block;
	padding: 0 0 0 35px;
	position: relative;
}
.checkbox:not(checked)+label
{
	display: block;
	padding: 0 0 0 35px;
	position: relative;
}
.radio+label
{
	cursor: pointer;
	margin-bottom: 10px;
}
.checkbox+label
{
	cursor: pointer;
	margin-bottom: 10px;
}
.radio:not(checked)+label:before
{
	background: #FFF;
	border: 1px solid #a8a8a8;
	border-radius: 50%;
	content: '';
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 22px;
}
.checkbox:not(checked)+label:before
{
	border: 1px solid #a8a8a8;
	content: '';
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 22px;
}
.radio:checked+label:after
{
	opacity: 1;
}
.checkbox:checked+label:before
{
	background: #fff;
}
.radio:not(checked)+label:after
{
	background: #3498db;
	border-radius: 50%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
	content: '';
	height: 16px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	transition: all .2s;
	width: 16px;
}
.checkbox:not(checked)+label:after
{
	background: #fff;
	content: '';
	height: 15.5px;
	left: 3px;
	position: absolute;
	top: 3px;
	transition: all .2s;
	width: 16px;
}
.checkbox:checked+label:after
{
	background: #3498db;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
}
.profit
{
	margin-top: 40px;
}
.total__title
{
	font-size: 16px;
	margin: 20px 0 8px;
}
.section1__profit_column
{
	margin-top: 30px;
}
.profit__column_img
{
	height: 132px;
	overflow: hidden;
}
.profit__column_img img
{
	max-width: 256px;
}
.profit__column_img img[src="img/svg/img_mobile.svg"]
{
	max-width: 170px;
}
.profit__column_title
{
	font: 20px 'opensansextrabold';
}
.profit__column_text
{
	font: 20px 'opensanssemibold';
}
.profit__column_text span
{
	font: 30px 'sybillabold';
}
.profit__column_text .rub
{
	font: 16px 'opensanssemibold';
}
#text__param .users-value
{
	padding-left: 20px;
	width: 100%;
}
#text__param .total
{
	border: 1px solid #a9a9a9;
	padding-left: 20px;
}
#text__param .total p
{
	display: inline-block;
	font: 24px 'sybillabold';
	line-height: 41px;
}
#text__param .total .rub
{
	display: inline-block;
	font: 16px 'sybillabook';
	margin-left: 10px;
}
@media (max-width: 1199px)
{
	.profit__column_img img
	{
		max-width: 204px;
	}
}
@media (max-width: 768px)
{
	#section1
	{
		background-image: url(../img/mobile/section1_bg.jpg);
		background-position: bottom -50px center;
		background-position: center;
		background-repeat: no-repeat;
	}
}
@media (max-width: 640px)
{
	#section1
	{
		padding: 40px 0 80px;
	}
}
@media (max-width: 500px)
{
	.title__decor
	{
		margin-bottom: 0;
	}
	.title__decor img
	{
		max-width: 145px;
	}
}
#section2
{
	background-image: url(../img/section2_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 60px;
}
#section2 .title__decor
{
	margin-bottom: 40px;
}
#section2 .utp__button_trigger
{
	margin-bottom: 0;
}
.section2__column
{
	margin-bottom: 40px;
}
.section2__column_icon
{
	position: relative;
	width: 109px;
}
.section2__column_icon i
{
	font-size: 109px;
	left: 0;
	position: absolute;
	top: 0;
}
.section2__column_text
{
	padding-left: 128px;
	position: relative;
	top: -5px;
}
.section2__column_text p
{
	color: #adadad;
	margin-top: 15px;
}
.section2__trigger
{
	font: 30px 'sybillabook';
	margin: 0 auto;
	margin-bottom: 40px;
	max-width: 730px;
}
.section2__trigger .big
{
	font: 45px 'sybillaultra';
}
@media (max-width: 768px)
{
	#section2
	{
		background-image: url(../img/mobile/section2_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media (max-width: 640px)
{
	#section2
	{
		padding: 40px 0 40;
	}
}
@media (max-width: 440px)
{
	.section2__column_text
	{
		padding-left: 92px;
	}
	.section2__column_icon i
	{
		font-size: 75px;
	}
}
@media (max-width: 400px)
{
	.section2__column_icon i
	{
		font-size: 65px;
	}
	.section2__column_text
	{
		padding-left: 77px;
	}
}
#section3
{
	background-image: url(../img/section3_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 60px;
}
#table_header
{
	border-bottom: 1px solid #989898;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#table_stroke
{
	border-bottom: 1px solid #989898;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
}
#table_stroke .icon_elips
{
	color: #3498db;
	font-size: 10px;
	left: 0;
	position: absolute;
	top: 8px;
}
.stroke__name
{
	position: relative;
}
.table__name_quest
{
	background: #b5b5b5;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-left: 10px;
	text-align: center;
	width: 20px;
}
#table_header .text_center,#table_stroke .text_center
{
	border-left: 1px solid #989898;
}
#table_header .ad
{
	display: none;
}
.tooltip-inner
{
	background: #3498db;
	text-align: left;
}
.tooltip.fade.right.in
{
	position: absolute;
	width: 250px;
}
.tooltip.right .tooltip-arrow
{
	border-right-color: #3498db;
}
@media (max-width: 1199px)
{
	#table_header h2
	{
		font-size: 22px;
	}
}
@media (max-width: 991px)
{
	#table_header h2>span
	{
		display: none;
	}
	#table_header .ad
	{
		display: inline-block;
	}
	.stroke_2 div:nth-child(2),.stroke_2 div:nth-child(3),.stroke_2 div:nth-child(4)
	{
		position: relative;
		top: 13px;
	}
	.stroke_8 div:nth-child(2),.stroke_8 div:nth-child(3),.stroke_8 div:nth-child(4)
	{
		position: relative;
		top: 13px;
	}
}
@media (max-width: 768px)
{
	#section3
	{
		background-image: url(../img/mobile/section3_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#table_header h2
	{
		font-size: 20px;
		line-height: 130%;
	}
	#table_stroke .icon_elips
	{
		font-size: 7px;
	}
	.stroke__name
	{
		font-size: 16px;
		line-height: 120%;
	}
	.stroke_8 div:nth-child(2),.stroke_8 div:nth-child(3),.stroke_8 div:nth-child(4)
	{
		top: 0;
	}
	.stroke_2 div:nth-child(2),.stroke_2 div:nth-child(3),.stroke_2 div:nth-child(4)
	{
		top: 7px;
	}
}
@media (max-width: 700px)
{
	.stroke_8 div:nth-child(2),.stroke_8 div:nth-child(3),.stroke_8 div:nth-child(4)
	{
		top: 7px;
	}
}
@media (max-width: 640px)
{
	#section3
	{
		padding: 40px 0 40px;
	}
}
@media (max-width: 500px)
{
	#table_header h2
	{
		font-size: 16px;
	}
	.stroke__name
	{
		padding-left: 15px;
	}
}
@media (max-width: 491px)
{
	.stroke_2 div:nth-child(2),.stroke_2 div:nth-child(3),.stroke_2 div:nth-child(4)
	{
		top: 17px;
	}
}
@media (max-width: 462px)
{
	.stroke_9 div:nth-child(2),.stroke_9 div:nth-child(3),.stroke_9 div:nth-child(4)
	{
		position: relative;
		top: 7px;
	}
}
@media (max-width: 436px)
{
	.stroke_5 div:nth-child(2),.stroke_5 div:nth-child(3),.stroke_5 div:nth-child(4)
	{
		position: relative;
		top: 7px;
	}
}
@media (max-width: 415px)
{
	.stroke_7 div:nth-child(2),.stroke_7 div:nth-child(3),.stroke_7 div:nth-child(4)
	{
		position: relative;
		top: 7px;
	}
}
#section5
{
	background-image: url(../img/section5_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 814px;
	padding: 60px 0 60px;
}
#section5 .title__decor
{
	margin-bottom: 20px;
}
.title__descr
{
	font: 30px 'sybillabook';
	text-transform: uppercase;
}
.section5__nav_feedbacks
{
	margin-bottom: 40px;
	padding-left: 0;
}
.section5__nav_feedbacks li
{
	display: inline-block;
	margin: 0 5px;
}
.toggle__button_tab
{
	background: none;
	border: 1px solid #fff;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 15px;
	line-height: 40px;
	padding: 0 15px;
	transition: all 0.3s;
}
.toggle__button_tab2
{
	background: none;
	border: 1px solid #fff;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 15px;
	line-height: 40px;
	padding: 0 15px;
	transition: all 0.3s;
}
.toggle__button_tab:hover
{
	background: #3498db;
	border: 1px solid #3498db;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
}
.active__filter
{
	background: #fdbe00;
	border: 1px solid #fdbe00;
	color: #252525;
}
.section5__foto_athor
{
	border: 5px solid #fdbe00;
	width: 127px;
}
.section5__content_right h2
{
	margin-top: 10px;
}
.section5__author_descr
{
	font-size: 14px;
	font-style: italic;
	margin: 2px 0 20px;
}
.section5__text_fixed
{
	margin: 0 auto;
	max-width: 800px;
}
@media (max-width: 991px)
{
	.section5__content_left .content__video img
	{
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.section5__content_right
	{
		text-align: center;
	}
}
@media (max-width: 768px)
{
	#section5
	{
		background-image: url(../img/mobile/section5_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media (max-width: 640px)
{
	#section5
	{
		padding: 40px 0 40px;
	}
}
@media (max-width: 531px)
{
	.toggle__button_tab
	{
		margin-bottom: 10px;
	}
}
#section6
{
	padding: 60px 0 60px;
}
.section6__column_wrapp
{
	padding: 0 40px;
}
.section6__column
{
	box-shadow: 0 15px 60px rgba(0,0,0,0.15);
	margin: 9px;
	padding-bottom: 30px;
}
.section6__column_header
{
	background-color: #f04e4e;
	color: #fff;
	padding: 30px 0 30px;
}
.section6__column_price
{
	background-color: #ff5757;
	color: #fff;
	padding: 17px 0 20px;
}
.icon_price_1
{
	font-size: 95px;
	opacity: 0.4;
}
.section6__column_name
{
	font: 30px 'sybillabold';
	margin-top: 5px;
}
.section6__column_descr
{
	font: 18px 'sybillabook';
	margin-top: 3px;
}
.section6__price
{
	font: 26px 'sybillabook';
}
.section6__price span
{
	display: inline-block;
	font: 60px 'sybillabold';
	margin-right: 10px;
}
.section6__list
{
	margin: 0;
	padding-left: 0;
}
.section6__list li
{
	display: block;
	padding: 20px 0;
}
.section6__list li:nth-child(2)
{
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
}
.section6__button_action
{
	background: #f04e4e;
	border: 2px solid #f04e4e;
	border-radius: 7px;
	color: #fff;
	font: 22px 'sybillabold';
	line-height: 54px;
	margin-top: 30px;
	padding: 0 70px;
	transition: all 0.3s;
}
.section6__button_action:hover
{
	background: #fff;
	border: 2px solid #f04e4e;
	border-radius: 7px;
	color: #f04e4e;
	font: 22px 'sybillabold';
	line-height: 54px;
	margin-top: 30px;
	padding: 0 70px;
}
.section6__button_action:focus
{
	outline: none;
}
#blue_price .section6__column_header
{
	background-color: #3b99d8;
}
#blue_price .section6__column_price
{
	background-color: #42adf5;
}
#blue_price .icon_price_3
{
	font-size: 96px;
	opacity: 0.4;
}
#blue_price .section6__button_action
{
	background: #3b99d8;
	border: 2px solid #3b99d8;
	border-radius: 7px;
	color: #fff;
	font: 22px 'sybillabold';
	line-height: 54px;
	margin-top: 30px;
	padding: 0 70px;
	transition: all 0.3s;
}
#blue_price .section6__button_action:hover
{
	background: #fff;
	border: 2px solid #3b99d8;
	border-radius: 7px;
	color: #3b99d8;
	font: 22px 'sybillabold';
	line-height: 54px;
	margin-top: 30px;
	padding: 0 70px;
}
#blue_price .section6__button_action:focus
{
	outline: none;
}
#green_price .section6__column_header
{
	background-color: #a8cf69;
}
#green_price .section6__column_price
{
	background-color: #b6e072;
}
#green_price .icon_price_2
{
	font-size: 96px;
	opacity: 0.5;
}
#green_price .section6__button_action
{
	background: #a8cf69;
	border: 2px solid #a8cf69;
	border-radius: 7px;
	color: #fff;
	font: 22px 'sybillabold';
	line-height: 54px;
	margin-top: 30px;
	padding: 0 70px;
	transition: all 0.3s;
}
#green_price .section6__button_action:hover
{
	background: #fff;
	border: 2px solid #a8cf69;
	border-radius: 7px;
	color: #a8cf69;
	font: 22px 'sybillabold';
	line-height: 54px;
	margin-top: 30px;
	padding: 0 70px;
}
#green_price .section6__button_action:focus
{
	outline: none;
}
@media (max-width: 1199px)
{
	.section6__column_wrapp
	{
		padding: 0 10px;
	}
}
@media (max-width: 991px)
{
	.section6__column_wrapp
	{
		margin-bottom: 40px;
	}
}
@media (max-width: 640px)
{
	#section6
	{
		padding: 40px 0 0;
	}
}
#section7
{
	background-image: url(../img/section2_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 60px;
}
.section7__column_left,.section7__column_right
{
	margin: 40px 0;
	overflow: hidden;
}
.section7__column_center
{
	margin-top: 40px;
}
.section7__left_content,.section7__right_content
{
	background: #f0f0f0;
	position: relative;
}
.section7__left_content div,.section7__right_content div
{
	display: inline-block;
}
.section7__left_img
{
	left: 0;
	position: absolute;
	top: 0;
}
.section7__right_img
{
	position: absolute;
	right: 0;
	top: 0;
}
.section7__left_img img
{
	position: relative;
	top: 0px;
}
.section7__right_img img
{
	position: relative;
	top: -50px;
}
.section7__text_box
{
	padding: 12px 10px 0 200px;
}
.section7__name
{
	font: 20px 'sybillabold';
}
.section7__descr
{
	font-size: 14px;
	position: relative;
	top: -5px;
}
.section7__text
{
	font: 14px 'opensanslight';
}
.section7__column_center
{
	font: 70px 'sybillabold';
}
.section7__social
{
	padding-left: 0;
}
.section7__social li
{
	display: inline-block;
}
.section7__social li a
{
	display: block;
}
.section7__column_right .section7__text_box
{
	padding: 12px 200px 0 25px;
}
.section7__left_content:after
{
	content: url(../img/png/triangle_left.png);
	display: inline-block;
	height: 14px;
	position: absolute;
	right: -14px;
	top: 30px;
	width: 14px;
}
.section7__right_content:before
{
	content: url(../img/png/triangle_right.png);
	display: inline-block;
	height: 14px;
	left: -14px;
	position: absolute;
	top: 30px;
	width: 14px;
}
.section7__text_dark,.icon_quote_right,.icon_quote_left,.section7__text_dark
{
	color: #777777;
}
.sectio7__text_bottom
{
	margin: 0 auto;
	max-width: 690px;
}
.section7__text_dark
{
	margin: 10px 0 15px;
}
.icon_quote_right,.icon_quote_left
{
	display: block;
}
.icon_quote_left
{
	font-size: 30px;
	margin-bottom: 10px;
}
.icon_quote_right
{
	font-size: 22px;
	margin-top: 20px;
}
@media (max-width: 991px)
{
	.section7__left_content:after,.section7__right_content:before
	{
		display: none;
	}
	.section7__left_img img
	{
		top: -80px;
	}
}
@media (max-width: 768px)
{
	#section7
	{
		background-image: url(../img/mobile/section2_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media (max-width: 640px)
{
	#section7
	{
		padding: 40px 0 40px;
	}
}
@media (max-width: 499px)
{
	.section7__left_content div,.section7__right_content div
	{
		display: block;
	}
	.section7__left_img img,.section7__right_img img
	{
		top: 0;
	}
}
#footer
{
	background: #1e2224;
	padding: 40px 0 0;
}
.footer__list
{
	margin: 0;
	padding-left: 0;
}
.footer__list li
{
	display: inline-block;
}
.footer__list li a
{
	color: #404040;
	display: block;
}
.footer__list li a img
{
	margin: 0 40px;
	width: 70px;
}
.footer__list li a i
{
	font-size: 40px;
}
.footer__list li a:hover
{
	color: #fdbe00;
	text-decoration: none;
}
.bootom_panel
{
	background: #1a1a1a;
	margin-top: 40px;
	padding-bottom: 30px;
}
.bootom_panel a
{
	position: relative;
	top: -14px;
}
.bottom__panel_text
{
	color: #394145;
	font-size: 15px;
}
#sent-ok
{
	background-image: url(../img/home_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
#home
{
	height: 100vh;
}
.header__utp
{
	position: relative;
	top: 36vh;
}
.sent__ok_text
{
	margin: 10px 0 20px;
}
.mfp-bg
{
	background: #0b0b0b;
	height: 100%;
	left: 0;
	opacity: 0.8;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1042;
}
.mfp-wrap
{
	height: 100%;
	left: 0;
	outline: none !important;
	position: fixed;
	top: 0;
	webkit-backface-visibility: hidden;
	width: 100%;
	z-index: 1043;
}
.mfp-container
{
	box-sizing: border-box;
	height: 100%;
	left: 0;
	padding: 0 8px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
.mfp-container:before
{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.mfp-align-top .mfp-container:before
{
	display: none;
}
.mfp-content
{
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: left;
	vertical-align: middle;
	z-index: 1045;
}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content
{
	cursor: auto;
	width: 100%;
}
.mfp-ajax-cur
{
	cursor: progress;
}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close
{
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
.mfp-zoom
{
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content
{
	cursor: auto;
}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter
{
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
	webkit-user-select: none;
}
.mfp-loading.mfp-figure
{
	display: none;
}
.mfp-hide
{
	display: none !important;
}
.mfp-preloader
{
	color: #CCC;
	left: 8px;
	margin-top: -0.8em;
	position: absolute;
	right: 8px;
	text-align: center;
	top: 50%;
	width: auto;
	z-index: 1044;
}
.mfp-preloader a
{
	color: #CCC;
}
.mfp-preloader a:hover
{
	color: #FFF;
}
.mfp-s-ready .mfp-preloader
{
	display: none;
}
.mfp-s-error .mfp-content
{
	display: none;
}
button.mfp-close,button.mfp-arrow
{
	background: transparent;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	display: block;
	ms-touch-action: manipulation;
	outline: none;
	overflow: visible;
	padding: 0;
	touch-action: manipulation;
	webkit-appearance: none;
	z-index: 1046;
}
button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
.mfp-close
{
	color: #FFF;
	font-family: Arial, Baskerville, monospace;
	font-size: 28px;
	font-style: normal;
	height: 44px;
	line-height: 44px;
	opacity: 0.65;
	padding: 0 0 18px 10px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: -44px;
	width: 44px;
}
.mfp-close:hover,.mfp-close:focus
{
	opacity: 1;
}
.mfp-close:active
{
	top: -44px;
}
.mfp-close-btn-in .mfp-close
{
	background: #e74c3c;
	color: #fff;
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close
{
	color: #FFF;
	padding-right: 6px;
	right: -6px;
	text-align: right;
	width: 100%;
}
.mfp-counter
{
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
}
.mfp-arrow
{
	height: 110px;
	margin: 0;
	margin-top: -55px;
	opacity: 0.65;
	padding: 0;
	position: absolute;
	top: 50%;
	webkit-tap-highlight-color: transparent;
	width: 90px;
}
.mfp-arrow:active
{
	margin-top: -54px;
}
.mfp-arrow:hover,.mfp-arrow:focus
{
	opacity: 1;
}
.mfp-arrow:before,.mfp-arrow:after
{
	border: medium inset transparent;
	content: '';
	display: block;
	height: 0;
	left: 0;
	margin-left: 35px;
	margin-top: 35px;
	position: absolute;
	top: 0;
	width: 0;
}
.mfp-arrow:after
{
	border-bottom-width: 13px;
	border-top-width: 13px;
	top: 8px;
}
.mfp-arrow:before
{
	border-bottom-width: 21px;
	border-top-width: 21px;
	opacity: 0.7;
}
.mfp-arrow-left
{
	left: 0;
}
.mfp-arrow-left:after
{
	border-right: 17px solid #FFF;
	margin-left: 31px;
}
.mfp-arrow-left:before
{
	border-right: 27px solid #3F3F3F;
	margin-left: 25px;
}
.mfp-arrow-right
{
	right: 0;
}
.mfp-arrow-right:after
{
	border-left: 17px solid #FFF;
	margin-left: 39px;
}
.mfp-arrow-right:before
{
	border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder
{
	padding-bottom: 40px;
	padding-top: 40px;
}
.mfp-iframe-holder .mfp-content
{
	line-height: 0;
	max-width: 900px;
	width: 100%;
}
.mfp-iframe-holder .mfp-close
{
	top: -40px;
}
.mfp-iframe-scaler
{
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	width: 100%;
}
.mfp-iframe-scaler iframe
{
	background: #000;
	box-shadow: 0 0 8px rgba(0,0,0,0.6);
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
img.mfp-img
{
	box-sizing: border-box;
	display: block;
	height: auto;
	line-height: 0;
	margin: 0 auto;
	max-width: 100%;
	padding: 40px 0 40px;
	width: auto;
}
.mfp-figure
{
	line-height: 0;
}
.mfp-figure:after
{
	background: #444;
	bottom: 40px;
	box-shadow: 0 0 8px rgba(0,0,0,0.6);
	content: '';
	display: block;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 40px;
	width: auto;
	z-index: -1;
}
.mfp-figure small
{
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px;
}
.mfp-figure figure
{
	margin: 0;
}
.mfp-bottom-bar
{
	cursor: auto;
	left: 0;
	margin-top: -36px;
	position: absolute;
	top: 100%;
	width: 100%;
}
.mfp-title
{
	color: #F3F3F3;
	line-height: 18px;
	padding-right: 36px;
	text-align: left;
	word-wrap: break-word;
}
.mfp-image-holder .mfp-content
{
	max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure
{
	cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px)
{
	.mfp-img-mobile .mfp-image-holder
	{
		padding-left: 0;
		padding-right: 0;
	}
	.mfp-img-mobile img.mfp-img
	{
		padding: 0;
	}
	.mfp-img-mobile .mfp-figure:after
	{
		bottom: 0;
		top: 0;
	}
	.mfp-img-mobile .mfp-figure small
	{
		display: inline;
		margin-left: 5px;
	}
	.mfp-img-mobile .mfp-bottom-bar
	{
		background: rgba(0,0,0,0.6);
		bottom: 0;
		box-sizing: border-box;
		margin: 0;
		padding: 3px 5px;
		position: fixed;
		top: auto;
	}
	.mfp-img-mobile .mfp-bottom-bar:empty
	{
		padding: 0;
	}
	.mfp-img-mobile .mfp-counter
	{
		right: 5px;
		top: 3px;
	}
	.mfp-img-mobile .mfp-close
	{
		background: rgba(0,0,0,0.6);
		height: 35px;
		line-height: 35px;
		padding: 0;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		width: 35px;
	}
}
@media all and (max-width: 900px)
{
	.mfp-arrow
	{
		ms-transform: scale(0.75);
		transform: scale(0.75);
		webkit-transform: scale(0.75);
	}
	.mfp-arrow-left
	{
		ms-transform-origin: 0;
		transform-origin: 0;
		webkit-transform-origin: 0;
	}
	.mfp-arrow-right
	{
		ms-transform-origin: 100%;
		transform-origin: 100%;
		webkit-transform-origin: 100%;
	}
	.mfp-container
	{
		padding-left: 6px;
		padding-right: 6px;
	}
}
.feedback-vk-name
{
	font-size: 14px;
	margin-bottom: 15px;
}
.feedback-vk-img
{
	float: left;
	margin-right: 10px;
}
.feedback-img
{
	margin-bottom: 15px;
}


/*>>>>>>>>>>>>>>>>>>>>>>>FACTS START<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#section_facts_about {
	background: url(../img/backgroundFacts.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 60px 0 40px;
}

.facts-container {
	/* padding: 20px 150px 0; */
	padding: 20px 0;
}

.fact1, .fact2, .fact3, .fact4 {
	height: 180px;
	border: 4px solid #000;
	border-radius: 30px;
	margin-bottom: 35px;
	padding: 40px 0 !important;
}

.fact2, .fact4 {margin-left: 40px;}

.fact1, .fact3 {margin-right: 40px;}

.fact1 { border-color: #f7c640;}

.fact2 {border-color: #a8cf69; }

.fact3 {border-color: #e74c3c; padding: 20px 0 !important;}

.fact4 {border-color: #3b99d8;}

.fact1 .extra-fact{color: #f7c640;}

.fact2 .extra-fact{color: #a8cf69;}

.fact3 .extra-fact{color: #e74c3c;}

.fact4 .extra-fact{color: #3b99d8;}

.fact-list {
	text-align: left;
	color: #555454;	
}

.extra-fact {
	font: 28px 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

.bold-fact {
	font: 18px 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #555454;
}

.fact-list-item {
	font: 18px 'Open Sans', sans-serif;
}

.fact-list-item:before {
	content: url(../img/png/beforeli.png);
	padding-right: 10px;	
	color: #555454;				
}

@media all and (max-width: 575px) {
	#section_facts_about {
		padding: 40px 0 10px;
	}

	.fact1, .fact2, .fact3, .fact4 {
		height: 200px !important;
		margin: 0 30px 35px 30px !important; 
		padding: 60px 0 !important;
	}

	.fact3 {padding: 30px 0 !important;}

	.extra-fact {
		font: 24px 'Open Sans', sans-serif;
		font-weight: 800;
	}

	.fact-list-item {
		font: 16px 'Open Sans', sans-serif;
	}
	
	.fact-list{
		padding-left: 30px !important;
		font-size: 8px !important;
	}
}

@media all and (min-width: 576px) and (max-width: 767px) 
{
	#section_facts_about {
		padding: 40px 0 10px;  
	}

	#section_facts_about .container {
		margin: 0 10px;
		max-width: 740px !important;
	}

	.fact1, .fact2, .fact3, .fact4 {
		height: 220px;
		margin: 0 10px 20px 10px !important; 
		padding: 50px 0 !important;
	}

	.fact-list{
		padding-left: 25px !important;
	}

	.fact2, .fact4 {margin-left: 10px !important;}

	.fact1, .fact3 {margin-right: 10px !important;}

	.fact3 {padding: 40px 0 !important;}

	.extra-fact {
		font: 22px 'Open Sans', sans-serif;
		font-weight: 800;
	}

	.fact-list-item {
		font: 14px 'Open Sans', sans-serif;
	}
	
	.fact-list{
		padding-left: 8px;
	}
}

/*>>>>>>>>>>>>>>>>>>>>>>>FACTS FINISH<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*>>>>>>>>>>>>>>>>>>>>>>>WHO WE START<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#who-we
{
	background-image: url(../img/section2_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 60px;
}

.description {
	border: 1px solid #000;
	background-color: #212121;
	border-radius: 30px;
	padding: 25px 12px;
	text-align: center;
	margin-top: 45px;
	box-shadow:0 0 30px rgba(82,163,220,0.3);;
}

.name {
	color: #52a3dc;
	font: 18px 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 10px;
}

.about {
	color: #fff;
	font: 14px 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.photo-container {
	top: 50px;
}

.photo-container img {
	max-height: 400px;
}

.photo {
	position: relative;
	z-index: 2;
}

.ampers	{
	position: absolute;
	top: 50px;
	z-index: 1;
	opacity: 0.5;
	/* right: 0; */
}

.ampers img {
	max-height: 300px;
}

.vk-profile-link {
	max-width: 25px;
}

#we-work
{
	background-image: url(../img/section2_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 60px;
}

.when-we-do {
	margin-top: 40px;
}

@media screen and (max-width: 575px)
{
	.photo {
		position: static;
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px)
{
	.photo-container {
		order: 0 !important;
		text-align: center;
		top: 0;
	}

	.ampers {
		margin: 0 auto !important;
	}

	.mk {
		order: 1 !important;
	}

	.se {
		order: 2 !important;
	}

	
}


@media screen and (max-width: 575px)
{
	.photo, .ampers {
		left: 15%;
	}
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
	.photo-container {
		padding-left: 0 !important; 
		margin-left: -25px;
	}
}
/*>>>>>>>>>>>>>>>>>>>>>>>WHO WE FINISH<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*>>>>>>>>>>>>>>>>>>>>>>>>> TARIFFS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#tariffs
{
	padding: 60px 0 60px;
	margin-bottom: 70px;
}

#tariffs .container {
	margin: 0 !important;
}

#tariffs .col-12 {
	padding: 0;
}

.head-tarif-img {
	height: 120px;
	background-image: url('../img/headTarifOpacity.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 !important;
	transition: 0.7s;
	padding-top: 30px;
}

.base:hover .head-tarif-img, .addition:hover .head-tarif-img, .outsource:hover  .head-tarif-img{
	background-image: url('../img/headTarifOpacity75.png');
	transition: 0.7s;
}

.addition .head-tarif-img {
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.addition .tarif-name {
	text-shadow: #a8cf69 2px 2px 5px;
}

.outsource .tarif-name {
	text-shadow: #e74c3c 2px 2px 5px; 
}

.base .tarif-name {
	text-shadow: #3b99d8 2px 2px 5px; 
}

.container-tariffs {
	margin-top: 30px;
}

.base, .outsource {
	height: 610px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0, 0.5);
	padding: 0 !important;
}

.addition {
	/* position: relative; */
	bottom: 35px;
	height: 680px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0, 0.5);
	margin: 0 10px;
	/* z-index: 5; */
}

.tarif {
	text-transform: uppercase;
	font: 20px 'Open Sans', sans-serif;
	text-shadow: 0px 0px 6px rgba(255,255,255,1);
}

.tarif-name {
	font: 30px 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.tarif-cost {
	margin: 30px 0 25px;
	font: 30px 'Open Sans', sans-serif;
	font-weight: 800;
}

.addition .tarif-cost {
	color: #a8cf69;
	font-size: 50px;
	margin: 45px 0 55px; 
}

.outsource .tarif-cost {
	color: #e74c3c;
}

.base .tarif-cost {
	color: #3b99d8;
}

.tarif-info {
	/* font: 12px 'sybillabook';
	color: #747373;
	text-transform: uppercase; */
	font-size: 14px;
}

.addition .tarif-info {
	font-size: 18px;
}

hr {
	width: 90px;
	size: 5px;
	color: #e6e6e6;
	display: block;
	margin: 15px auto;
}

#tariffs .button__action {
	padding: 5px !important;
	font-size: 18px !important;
	position: absolute;
	bottom: -30px;
	height: 50px !important;
	line-height: 18px;
}

.base .button__action {
	left: 17%;
	width: 200px !important;

}

.outsource .button__action {
	right: 17%;
	width: 200px !important;

}

.addition .button__action {
	right: 25%;
	width: 230px !important;
}


@media screen and (max-width:767px){
	.addition {
		bottom: 0;
		height: 600px;
		margin: 60px 10px;
		padding: 0 !important;
	}	

	.base {
		height: 530px;
	}

	.outsource {
		height: 600px;
	}

	.tarif-info {
		font-size: 18px;
	}

	.base .button__action, .outsource .button__action, .addition .button__action {
		left: 26%;
	}
	
}


@media screen and (max-width:991px){
	.tarif-info-cont {
		margin: 0 7px;
	}
	.addition .head-tarif-img {
		margin-left:  0!important;
		margin-right: 0 !important;
	}
} 


@media screen and (min-width:768px) and (max-width:991px) 
{
	#tariffs
	{
		margin-bottom: 0;
		padding: 40px 0;
	}
	
	.addition .head-tarif-img {
		margin-left: -15px !important;
		margin-right: -15px !important;
	}

	.tarif-cost {
		font-size: 26px;
	}
	
	.addition .tarif-cost {
		font-size: 40px;
	}

	.addition {
		height: 760px;
	}

	.base, .outsource {
		height: 680px;
	}

	.base .tarif-cost {
		margin-bottom: 70px !important;
	}

	.addition .tarif-cost {
		margin-bottom: 60px !important;
	}

	.tarif-cost {
		margin: 25px 0 20px;
	}
	
	.addition .tarif-cost {
		margin: 35px 0 45px; 
	}

	.base .button__action {
		left: 11%;
		width: 150px !important;
	
	}

	#tariffs .button__action {
		font-size: 14px !important;
		border: none;
		height: 30px !important;
		bottom: -20px;
	}

	.outsource .button__action {
		right: 11%;
		width: 150px !important;
	}
	
	.addition .button__action {
		right: 20%;
		width: 200px !important;
	}
}


@media screen and (min-width: 992px) and (max-width:1199px)
{
	.base .button__action {
		left: 11%;
		width: 200px !important;
	}
	
	.outsource .button__action {
		right: 11%;
		width: 200px !important;
	}
	
	.addition .button__action {
		right: 20%;
		width: 230px !important;
	}
}
/*>>>>>>>>>>>>>>>>>>>>>>>>> TARIFFS FINISH <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/*>>>>>>>>>>>>>>>>>>>>>>>>> WE WORK START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#we-work {
	padding-bottom: 180px;
}

.start-step{
	padding-top: 80px;
}
 
.start-step-block {
	width: 160px;
	height: 160px;
	border: 4px solid #fdbe00;
	border-radius: 80px;
	color: #fff;
	text-align: center;
	font: 14px 'Open Sans', sans-serif;
	padding: 45px 10px 0;

}

.second-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 90px;
	padding-left: 10px;
}

.second-step-img {
	position: relative;
	bottom: -152px;
	left: 25px;
}

.third-step-img {
	position: relative;	
	left: 40px;
}

.third-step-text {
	position: absolute;
	margin-left: 40px;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
}

.fourth-step-img  {
	position: relative;
	bottom: -155px;
	left: 55px;
}

.fourth-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 110px;
	margin-left: 40px;
}

.fifth-step-img {
	position: relative;
	bottom: 20px;
	right: 20px;
}

.sixth-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	margin-left: 40px;
}

.sixth-step-img {
	position: relative;
	top: 130px;
	right: 40px;
}

.seventh-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: -20px;
	margin-left: 10px;
}

.seventh-step-img {
	position: relative;
	bottom: 20px;
	right: 50px;
}

.eighth-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 65px;
	margin-left: 180px;
}

.eighth-step-img {
	position: relative;
	top: 130px;
	right: 10px;
}

.nineth-step-img {
	position: relative;
	bottom: 42px;
	left: 160px;	
}

.tenth-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 45px;
	margin-left: 180px;
}

.tenth-step-img {
	position: relative;
	top: 110px;
	left: 190px;
}

.eleventh-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: -50px;
	margin-left: 180px;
}

.eleventh-step-img {
	position: relative;
	bottom: 42px;
	left: 200px;
}

.twelveth-step-text {
	position: absolute;
	width: 150px;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	margin-left: 190px;
}

.twelveth-step-img {
	position: relative;
	bottom: 42px;
	left: 200px;
	
}

.finish-step{
	padding-top: 80px;
}
 
.finish-step-block {
	width: 160px;
	height: 160px;
	border: 4px solid #a8cf69;
	border-radius: 80px;
	color: #fff;
	text-align: center;
	font: 14px 'Open Sans', sans-serif;
	padding: 30% 10px 0;
	position: relative;
	bottom: 42px;
	left: 180px;
}

.second-step-imgm,.third-step-imgm, .fourth-step-imgm, .sixth-step-imgm, .seventh-step-imgm, .eighth-step-imgm, .tenth-step-imgm, .eleventh-step-imgm, .twelveth-step-imgm, .second-step-icon, .third-step-icon, .fourth-step-icon, .sixth-step-icon, .seventh-step-icon, .eighth-step-icon, .tenth-step-icon, .eleventh-step-icon, .twelveth-step-icon {
	display: none;
}

@media screen and (min-width:992px) and (max-width:1199px)
{
	#we-work {
		padding-bottom: 80px !important;
	}

	.start-step{
		padding-top: 40px;
		margin-right: 30px;
	}

	.first-step-img {
		width: 140px !important;
		height: 135px !important;
	}

	.second-step-text {
		padding: 60px 0 0 !important;
		margin-left: -30px;
		font-size: 12px !important; 
		padding-top: 90px;
		padding-left: 10px;
	}

	.second-step-img {
		top: 112px;
		left: -7px;
		width: 140px !important;
		height: 130px !important;
	}

	.third-step-img {
		position: relative;
		left: -27px;
		width: 140px !important;
		height: 135px !important;
	}

	.third-step-text {
		padding: 60px 0 0 !important;
		margin-left: -30px;
		font-size: 12px !important; 
		padding: 0 !important;
		margin-left: -42px;
		width: 130px !important;
	}

	.fourth-step-img {
		margin-top: -40px;
		margin-left: -100px;
		width: 250px !important;
		height: 250px !important;
	}

	.fourth-step-text {
		padding: 0 !important;
		font-size: 12px !important; 
		margin-top: 80px;
		margin-left: -70px;
	}

	.fifth-step-img {
		top: 23px;
		right: 60px;
		width: 150px !important;
		height: 140px !important;
	}

	.sixth-step-text {
		font-size: 12px !important; 
		padding-top: 60px !important;
		margin-left: 0 !important;
		padding-right: 30px;
	}

	.sixth-step-img {
		top: 135px;
		right: 40px;
		width: 150px !important;
		height: 140px !important;
	}

	.seventh-step-text {
		font-size: 12px !important; 
		margin-left: 0 !important;
		margin-top: 15px !important;
		padding-right: 40px;
		margin-top: -20px;
		margin-left: 10px;
	}

	.seventh-step-img {
		top: 20px;
		left: -40px;
		width: 150px !important;
		height: 140px !important;
	}

	.eighth-step-text {
		font-size: 12px !important; 
		margin-left: 140px !important;
		padding-top: 95px !important;
	}

	.eighth-step-img {
		top: 135px;
		left: 20px;
		width: 250px !important;
		height: 250px !important;
	}

	.nineth-step-img {
		top: 10px !important;
		width: 150px !important;
		height: 135px !important;
	}

	.tenth-step-text {
		font-size: 12px !important; 
		padding-top: 65px;
		margin-left: 130px;
		padding-left: 10px;
	}

	.tenth-step-img {
		top: 120px;
		left: 165px;
		width: 150px !important;
		height: 140px !important;
	}

	.eleventh-step-text {
		font-size: 12px !important; 
		margin-top: 0;
		margin-left: 110px;
		padding-left: 10px;
	}

	.eleventh-step-img {
		top: 5px;
		left: 140px;
		width: 150px !important;
		height: 140px !important;
	}

	.twelveth-step-text {
		font-size: 12px !important; 
		padding-top: 65px;
		margin-left: 110px;
	}

	.twelveth-step-img {
		top: 5px;
		left: 120px;
		width: 150px !important;
		height: 140px !important;
	}

	.finish-step-block {
		left: 120px;
	}
}


@media screen and (max-width:991px)
{
	#we-work {
		padding-bottom: 40px;
	}

	.scheme {
		margin: 0 auto;
	}


	.finish-step{
		padding-top: 40px;
	}

	.start-step {
		padding: 30px 0 !important;
	}

	.start-step-block {
		margin: 0 auto !important;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		font-size: 16px !important;
		padding-top: 60px !important;
	}

	.finish-step-block {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		font-size: 16px !important;
		padding-top: 60px !important;
		position: static;
		margin: 0 auto;
	}

	.third-step-imgm, .sixth-step-imgm, .eleventh-step-imgm {
		position: absolute;
		right: 0 !important;
		top: 0;
		padding: -50px 0 0 !important;
	}

	.sixth-step-imgm,.eleventh-step-imgm {
		padding-right: 15px;
	}

	.eleventh-step-imgm {
		margin-top: 50px;
	}

	.seventh-step {
		margin-top: 60px;
		order: 2 !important;
	}
	
	.sixth-step {
		order: 1 !important;
	}

	.eighth-step {
		margin: 60px 0 80px;
		order: 3 !important;
	}
	
	.second-step-imgm, .third-step-imgm, .fourth-step-imgm, .sixth-step-imgm, .seventh-step-imgm, .eighth-step-imgm, .tenth-step-imgm, .eleventh-step-imgm, .twelveth-step-imgm, .second-step-icon, .third-step-icon, .fourth-step-icon, .sixth-step-icon, .seventh-step-icon, .eighth-step-icon,.tenth-step-icon, .eleventh-step-icon, .twelveth-step-icon {
		display: block;
	}

	.first-step-img, .second-step-img, .third-step-img, .fourth-step-img, .fifth-step-img, .sixth-step-img, .seventh-step-img, .eighth-step-img, .nineth-step-img, .tenth-step-img, .eleventh-step-img, .twelveth-step-img {
		display: none;
	}
	
	.fivth-step-text,  {
		display: none;
	}

	.second-step-icon, .third-step-icon, .fourth-step-icon, .sixth-step-icon, .seventh-step-icon, .eighth-step-icon, .tenth-step-icon, .eleventh-step-icon, .twelveth-step-icon {
		position: absolute;
		width: 35px;
	}
/* ________________________ */
	.second-step-text {
		padding-left: 40px;
		text-align: left !important;
	}

	.third-step-text, .sixth-step-text {
		position: relative;
		text-align: right !important;
		margin-left: 33% !important;
		padding-top: 100px;
	}

	.sixth-step-text {
		padding-right: 10px;
	}

	.fourth-step-text {
		margin: 0 !important;
		position: relative;
		left: 35px;
		bottom: 60px;
		text-align: left !important;
	}

	.twelveth-step-text	{
		position: relative;
		top: -60px;
		left: 35px;
		margin: 0 !important;
		padding: 0 !important;
		text-align: left !important;
	}

	.eleventh-step-text {
		position: relative !important;
		margin: 0 !important;
		top: 170px;
		left: 250px;
		text-align: right !important;
	}

	.seventh-step-text {
		top: 120px;
		text-align: left !important;
		margin-left: 40px !important;
	}

	.second-step-icon {
		margin-left: 40px;
		margin-top: 30px;
	}

	.third-step-icon {
		
		margin-top: 50px;
		right: 45px;
	}

	.fourth-step-icon {
		margin-top: 50px;
		left: 50px;
	}

	.sixth-step-icon {
		right: 50px;
		margin-top: 50px;
	}

	.seventh-step-icon{
		margin-top: 50px;
		left: 50px;
	}


	.eighth-step-icon {
		right: 50px;
		margin-top: 60px;
	}


	.tenth-step-text {
		text-align: left !important;
		top: 60px;
		margin-left: 40px;
	}

	.tenth-step-icon {
		margin-top: 60px;
		left: 50px;
	}

	.eleventh-step-icon {
		right: 50px;
		margin-top: 60px;
	} 
	
	.twelveth-step-icon {
		margin-top: 60px;
		left: 50px;	
	}

}

@media screen and (min-width:576px) and (max-width:991px){
	.first-step-text, .second-step-text, .third-step-text, .fourth-step-text, .fifth-step-text, .sixth-step-text, .seventh-step-text, .eighth-step-text, .nineth-step-text, .tenth-step-text, .eleventh-step-text, .twelveth-step-text {
		font-size: 18px;
		width: 50% !important;
	}

	.third-step-text, .sixth-step-text {
		margin-left: 45% !important;
	}

	.twelveth-step {
		margin-top: 300px;
	}

	.eighth-step-imgm {
		position: absolute;
		right: 0;
		top: 0;
	}

	.eighth-step-text {
		position: relative;
		text-align: right !important;
		margin-left: 45% !important;
		padding-top: 110px;
	}
}

@media screen and (min-width:576px) and (max-width:767px){
	.eleventh-step-text{
		left: 200px;	
	}
}

@media screen and (max-width:575px)
{
	.first-step-text, .second-step-text, .third-step-text, .fourth-step-text, .fifth-step-text, .sixth-step-text, .seventh-step-text, .eighth-step-text, .nineth-step-text, .tenth-step-text, .eleventh-step-text, .twelveth-step-text {
		font-size: 16px;
		width: 60% !important;
	}	

	
	.finish-step-block {
		left: 90px;
	}

	.second-step, .fourth-step {
		padding: 0 !important;
	}

	.third-step-text, .sixth-step-text {
		margin-left: 33% !important;
	}

	.fourth-step {
		top: 30px;
	}

	.twelveth-step {
		margin-top: 250px;
	}
	
	.eighth-step {
		margin: 20px 0 60px;
	}

	.eleventh-step-text {
		left: 80px !important;
	}

	.eighth-step-imgm {
		position: absolute;
		right: 15px;
		top: 0;
		
	}

	.eighth-step-text {
		position: relative;
		text-align: right !important;
		margin-left: 30% !important;
		padding-top: 110px;
	}

	.eleventh-step-text{
		left: 115px !important;
	}
}

/* #tabs_container {
	max-width: 810px;
	margin: 0 auto; 
}*/

#section_header
{
	background-image: url(../img/home_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0;
}
.logo img
{
	width: 80px;
}
.utp__descr
{
	font: 30px sybillabook;
	margin-top: 30px;
}
.title__utp
{
	padding: 10px 0 50px;
}
.title__utp span
{
	font-family: sybillabook;
}
.utp__button_trigger
{
	margin: 20px 0 80px;
}
.utp__button_trigger .icon_up
{
	bottom: -10px;
	font-size: 30px;
	position: relative;
}
.button__trigger_text
{
	font: 20px sybillabook;
}
.button__trigger_text span
{
	font: 24px sybillaultra;
	margin-right: 10px;
}
.utp__column_number
{
	font-family: sybillabook;
}
.utp__column_number span
{
	font: 40px sybillabold;
	margin-right: 10px;
}
#header_footer
{
	background: #1e2224;
	padding: 24px 20px;
}
.header__footer_content div
{
	display: inline-block;
}
.header__footer_icon
{
	position: relative;
}
.header__footer_icon i
{
	font-size: 50px;
}
.header__footer_text
{
	padding-left: 15px;
}
.header__footer_text p
{
	color: #999;
}
body
{
	overflow-x: hidden;
}
.popup
{
	background: url(../img/png/bg.png) no-repeat;
	display: none;
	height: 497px;
	left: 0;
	margin: auto;
	max-width: 881px;
	padding: 37px 50px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}
.mainPopupContainer
{
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url(../img/png/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.7), -7px -7px 20px rgba(0, 0, 0, 0.7);
	height: 425px;
	max-width: 780px;
	padding-top: 55px;
}
.request
{
	color: #fdbe00;
	cursor: pointer;
	text-decoration: underline;
}
.popupHeader
{
	background: url(../img/png/popupHeader.png) no-repeat;
	height: 20px;
	margin: auto;
	margin-bottom: 35px;
	max-width: 150px;
}
.popupContainer
{
	background-color: rgba(255, 255, 255, 0.3);
	height: 200px;
	margin: auto;
	max-width: 540px;
	padding-top: 50px;
}
.popupText
{
	color: #fff;
	font: 18px Montserat-Light, sans-serif;
	text-align: center;
}
.bgPopup
{
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	z-index: 90;
}
.popupSocialButtonItem
{
	margin-left: -15px !important;
}
.popupSocialButtonItem a
{
	text-decoration: none;
}
.popupSocialButton
{
	display: flex !important;
	justify-content: space-between;
}
.popupSocialButton
{
	padding: 20px 150px 0;
	text-align: center;
}
.titleSocialButton
{
	color: #fff;
	font: 14px Montserrat-Thin, sans-serif;
	padding-top: 10px;
}
.popupSocialButtonItem:hover
{
	cursor: pointer;
}
.popupSocialButtonItem a:hover .titleSocialButton, .popupSocialButtonItem:hover .titleSocialButton
{
	font-weight: bold;
}
#Skype img
{
	margin: 0 !important;
}
#vk_community_messages
{
	display: none;
}
@media (max-width:1260px)
{
	.header__footer_text p
	{
		font-size: 16px;
	}
}
@media (max-width:1170px)
{
	.header__footer_icon i
	{
		font-size: 40px;
	}
}
@media (max-width:1113px)
{
	.header__footer_icon i
	{
		font-size: 35px;
	}
	.header__footer_text p
	{
		font-size: 15px;
		line-height: 140%;
	}
}
@media (max-width:1060px)
{
	.header__footer_text
	{
		padding-left: 7px;
	}
}
@media (max-width:1024px)
{
	.header__footer_content div
	{
		display: block;
	}
	.header__footer_text
	{
		padding-left: 0;
		padding-top: 7px;
	}
}
@media (max-width:991px)
{
	.column__utp_info,.utp__button_trigger
	{
		margin-bottom: 30px;
	}
	#section_header
	{
		padding-bottom: 30px;
	}
	.column__utp_info
	{
		text-align: center;
	}
	.header__footer_content div
	{
		display: inline-block;
	}
	.header__footer_icon i
	{
		font-size: 50px;
	}
	.header__footer_text
	{
		max-width: 100%;
		padding: 10px;
	}
	.header__footer_text p
	{
		font-size: inherit;
	}
}
@media (max-width:768px)
{
	#section_header
	{
		background-image: url(../img/mobile/home_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.header__footer_content
	{
		margin: 0 auto;
		max-width: 300px;
	}
}

@media (min-width:768px){
	.popupSocialButtonItem img
	{
		height: 50px !important;
		width: 50px !important;
	}

	.popupSocialButton {
		padding-left: 100px !important;
		padding-right: 100px !important;
	}
}

@media (max-width:580px)
{
	.title__utp
	{
		font-size: 40px;
		line-height: 50px;
	}
	.popup
	{
		height: 270px;
		padding: 10px;
	}
	.popupHeader
	{
		margin-bottom: 20px;
	}
	.mainPopupContainer
	{
		background-position: center center;
		height: 250px;
		padding: 20px 20px 0;
	}
	.popupContainer
	{
		height: 155px;
		padding-top: 15px;
	}
	.popupSocialButton
	{
		padding: 10px 20px 0;
	}
	.popupText
	{
		padding: 0 20px !important;
	}

	.popupSocialButtonItem
	{
		height: 40px;
		width: 40px;
	}
}
@media (max-width:470px)
{
	.utp__descr
	{
		font-size: 25px;
	}
	.title__utp
	{
		font-size: 35px;
		line-height: 40px;
		padding-bottom: 30px;
	}
}
@media (max-width:400px)
{
	.title__utp
	{
		font-size: 32px;
	}
}

